@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ubuntu:ital,wght@1,300;1,400&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    background-color: #c39361;
    font-size: large;
    margin: 0px;
}

p{ font-weight: lighter;
    border: 2px;
    
}

hr { background-color: rgb(41, 18, 0); height: 1px; border: 0; }

img {
        margin: 20px;
    }
table, td, tr, th {
    border: 1px solid;
    border-collapse: collapse;

}

tr:nth-child(even) {
    background-color: #856743;
  }

  input[type = "submit"] {
      background-color : rgb(209, 178, 120);
      border-radius: 5%;
      
  }
  input, textarea {
    background-color : rgb(209, 178, 120);
    border-radius: 5px ;
  }

  textarea{
      resize: none;
  }

  input[type = "submit"]:hover {
    background-color : #b38d47;
    border-radius: 4px;
    
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

h1{
    text-decoration: underline;
    text-align: center;
}


iframe{
    position: sticky;
}

@media screen and (max-width : 480px){
    iframe{
        height: 170px;
    }

    .float-left , .float-right{
        float:none;
    }

    img{
        height: 30 ;
        width: 480;
    }
}

.lav{
    background-color: lightseagreen;
}

.lav p {
    background-color: green;
}

.footer{
    left: 0px;
    bottom: 0px;
    background-color: #d6b589;

}

.footer li a {
    display:block;
    color: white;
    text-align: center;
    padding: 12px 50px;
    text-decoration: underline;
}

.footer ul{
    list-style-type: none;
}