@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ubuntu:ital,wght@1,300;1,400&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    background-color: rgb(172, 131, 85);
    font-size: large;
}

p{ font-weight: lighter;
    border: 2px;
    
}

hr { background-color: rgb(41, 18, 0); height: 1px; border: 0; }

img {
        margin: 20px;
    }
table, td, tr, th {
    border: 1px solid;
    border-collapse: collapse;

}

tr:nth-child(even) {
    background-color: #7a5f3e;
  }